<% if @article.errors.any? %>
  <% @article.errors.full_messages.each do |message| %>
    <p class='text-danger'><%= message %></p>
  <% end %>
<% end %>

<%= form_with model: @article do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>
  <%= f.label :content %>
  <%= f.text_field :content, class: 'form-control' %>
  <%= f.submit class: 'btn btn-info btn-lg mt-2'%>
<% end %>
<h4><%= link_to "Back to list", articles_path %></h4>
